[Unit]
Documentation=https://github.com/RWTH-HPC/hpc-ebpf-filter

[Service]
ExecStart=hpc-ebpf-filter
Restart=on-failure

IPAddressDeny=any

ProtectSystem=strict

LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
